input {
    width: 100%;
    margin-bottom: 24px;
    line-height: 6px;
    height: 1.6rem;
}

button{
    border: none;
    color: #fff;
    background-color: rgb(0, 132, 255);
    padding:8px;
    border-radius: 9%;
    margin-right: 24px;
}

p{
   background-color: rgb(247, 241, 241);
   padding: 9px;
}

.khung{
    border:2px solid #ddd ;
}

ul{
    margin-left: -3%;
}

li{
    margin-bottom: 12px;
    list-style-type: none;
}

.titleItem{
    background-color: rgb(241, 234, 234);
}

span{
    padding: 12px;
    display: block;
}